<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helix</title>
    <link rel="stylesheet" type="text/css" href="home.component.css">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/css/shortcode.css">
    <link rel="stylesheet" href="../../../assets/css/styles.css">
    <link rel="stylesheet" href="../../../assets/css/responsive.css">
    <!-- remixicon css -->
    <link rel="stylesheet" href="../../../assets/css/remixicon.css">
</head>

<body>

    <div class="main-page landing-page">
        <!-- header Start -->
        <header class="header">
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <div class="nav-main">
                        <a class="navbar-brand" href="index.html"><img src="../../../assets/img/logo.svg" alt="logo" />
                        </a>
                        <!-- navbar-toggler -->
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <i class="ri-menu-2-line"></i>
                        </button>
                        <div class="collapse navbar-collapse ms-auto" id="navbarNavAltMarkup">
                            <ul class="navbar-nav liat-unstyled">
                                <!-- Home -->
                                <li class="nav-item active">
                                    <a class="nav-link" aria-current="page" href="index.html">Home</a>
                                </li>
                                <!-- Blog -->
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Blog</a>
                                </li>
                                <!-- About Us -->
                                <li class="nav-item">
                                    <a class="nav-link" href="#">About Us</a>
                                </li>
                            </ul>
                        </div>
                        <div class="auth-btn-group">
                            <!-- Sign In -->
                            <a href="#" class="btn black-btn" data-bs-toggle="modal" data-bs-target="#UserLogin">
                                <span class="auth-icon"><i class="ri-user-line"></i></span>
                                <span class="auth-text"> Sign In</span>
                            </a>
                            <!-- Sign Up -->
                            <a href="#" class="btn gradient-btn" data-bs-toggle="modal" data-bs-target="#UserSignUp">
                                <span class="auth-icon"><i class="ri-user-add-line"></i></span>
                                <span class="auth-text">Sign Up</span>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <!-- header END -->
        <!-- banner-section-Start -->
        <section class="banner-section full-height-section">
            <img src="../../../assets/img/icon/svg/shape01.svg" class="banner-shape shape_one" alt="svg/shape01" />
            <img src="../../../assets/img/icon/svg/shape02.svg" class="banner-shape shape_two" alt="svg/shape02" />
            <img src="../../../assets/img/icon/svg/shape03.svg" class="banner-shape shape_three" alt="svg/shape03" />
            <div class="container">
                <div class="row align-items-center g-4">
                    <div class="col-xl-7 col-xxl-6 col-lg-6 col-md-10 col-12 mx-auto order-lg-2">
                        <!-- banner-img -->
                        <div class="banner-img text-center text-md-end">
                            <img src="../../../assets/img/banner.svg" alt="banner-img" class="responsive-img">
                        </div>
                    </div>
                    <div class="col-xl-5 col-md-10 col-xxl-6 col-lg-6 m-auto">
                        <!-- banner-content -->
                        <div class="banner-content text-center text-lg-start">
                            <span class="highlight-label">#1 Best Help Desk ever</span>
                            <!-- banner Title -->
                            <h2>Transform Your Support
                                With <span>Helix AI Asist</span></h2>
                            <div class="banner-line-shape">
                                <img src="../../../assets/img/banner-line-shape.svg" class="line-shape"
                                    alt="banner-line-shape" />
                            </div>
                            <!-- banner Desc -->
                            <p><span>Helix AI Asist</span> software typically offers features that enable ticket
                                management, customer communication, collaboration among support agents, and tracking of
                                support requests.</p>
                            <div
                                class="d-flex gap-4 justify-content-center justify-content-lg-start align-items-center flex-wrap">
                                <!-- Try free trial btn -->
                                <a href="#" class="btn gradient-btn">Try free trial</a>
                                <!-- SIGN UP btn  -->
                                <a href="#" class="btn btn-inline">
                                    <svg width="34" height="34" class="me-1" viewBox="0 0 34 34" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M17.0003 1.16666C25.7435 1.16666 32.8337 8.25525 32.8337 17C32.8337 25.7447 25.7435 32.8333 17.0003 32.8333C8.25558 32.8333 1.16699 25.7447 1.16699 17C1.16699 8.25525 8.25558 1.16666 17.0003 1.16666Z"
                                            stroke="#191A15" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M22.0003 16.9919C22.0003 15.64 15.0712 11.3152 14.2852 12.0928C13.4992 12.8705 13.4236 21.0401 14.2852 21.891C15.1468 22.7449 22.0003 18.3438 22.0003 16.9919Z"
                                            stroke="#191A15" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                    View Demo</a>
                            </div>
                            <div class="company_info">
                                <div class="c_info">
                                    <h4 class="c_title">5,000+</h4>
                                    <p class="c_desc">Customer</p>
                                </div>
                                <div class="c_info">
                                    <h4 class="c_title">8,000+</h4>
                                    <p class="c_desc">Delivery</p>
                                </div>
                                <div class="c_info">
                                    <h4 class="c_title">1,000+</h4>
                                    <p class="c_desc">Ratings</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- banner-section-End -->
    </div>
    <!-- Modal Login -->
    <div class="modal fade" id="UserLogin" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i
                        class="ri-close-line"></i></button>
                <div class="modal-body">
                    <!-- SignIn form Details  Start -->
                    <div class="auth-wrapper">
                        <h2>Sign in</h2>
                        <div class="auth-form">
                            <!-- auth-form Start -->
                            <form>
                                <div class="row g-4">
                                    <div class="col-12">
                                        <div class="col-12">
                                            <!-- Email -->
                                            <div class="form-group">
                                                <input type="text" name="" value="" placeholder="Enter Your Email"
                                                    class="form-control" required="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="col-12">
                                            <!-- Password -->
                                            <div class="form-group with-icon">
                                                <input type="text" name="" value="" placeholder="Password"
                                                    class="form-control" required="">
                                                <span class="input-icon"><img src="../../../assets/img/icon/svg/eye.svg"
                                                        alt="svg/eye"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="">
                                            <!-- Button  -->
                                            <button type="" class="btn gradient-btn w-100">Sign in</button>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="text-center form-group">
                                            <p class="m-0">Or continue with social media</p>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="d-flex form-group gap-3 justify-content-center">
                                            <!-- Sign up via Google -->
                                            <button type="" class="btn auth-icon-btn">
                                                <img src="../../../assets/img/icon/svg/google.svg" alt="google">
                                                <span class="auth-icon-btn-text"> Sign up via Google</span>
                                            </button>
                                            <!-- Sign up via Apple  -->
                                            <button type="" class="btn auth-icon-btn">
                                                <img src="../../../assets/img/icon/svg/apple.svg" alt="apple">
                                                <span class="auth-icon-btn-text"> Sign up via Apple</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="text-center">
                                            <span class="mt-3 mb-0 text-black-700">By clicking the Continue button, you
                                                agree to the terms of service and privacy policy.</span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- auth-form END -->
                        </div>
                    </div>
                     <!-- SignIn form Details  END -->
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Signup -->
    <div class="modal fade" id="UserSignUp" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i
                        class="ri-close-line"></i></button>
                <div class="modal-body">
                    <!-- Sign up form Details  Start -->
                    <div class="auth-wrapper">
                        <h2>Sign up</h2>
                        <div class="auth-form">
                            <!-- auth-form Start -->
                            <form>
                                <div class="row g-4">
                                    <div class="col-12">
                                        <!-- Name -->
                                        <div class="form-group">
                                            <input type="text" name="" value="" placeholder="Enter Name"
                                                class="form-control" required="">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <!-- Email -->
                                        <div class="form-group">
                                            <input type="text" name="" value="" placeholder="Enter Your Email"
                                                class="form-control" required="">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <!-- Password -->
                                        <div class="form-group with-icon">
                                            <input type="text" name="" value="" placeholder="Password"
                                                class="form-control" required="">
                                            <span class="input-icon"><img src="../../../assets/img/icon/svg/eye.svg"
                                                    alt="svg/eye"></span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="">
                                            <!-- Button  -->
                                            <button type="" class="btn gradient-btn w-100">Sign in</button>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="text-center form-group">
                                            <p class="m-0">Or continue with social media</p>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="d-flex form-group gap-3 justify-content-center">
                                            <!-- Sign up via Google -->
                                            <button type="" class="btn auth-icon-btn">
                                                <img src="../../../assets/img/icon/svg/google.svg" alt="google">
                                                <span class="auth-icon-btn-text"> Sign up via Google</span>
                                            </button>
                                            <!-- Sign up via Apple  -->
                                            <button type="" class="btn auth-icon-btn">
                                                <img src="../../../assets/img/icon/svg/apple.svg" alt="apple">
                                                <span class="auth-icon-btn-text"> Sign up via Apple</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- auth-form END -->
                        </div>
                    </div>
                     <!-- Sign up form Details  END -->

                    <!-- OTP form Start (Hide) -->
                    <div class="auth-wrapper  d-none">
                        <h2 class="mb-4">Check your inbox</h2>
                        <div class="auth-form">
                            <!-- auth-form Start -->
                            <form>
                                <div class="row g-4">
                                    <div class="col-12">
                                        <div class="text-center form-group">
                                            <p class="m-0 text-black-700">Helix AI Assist just sent you a 4-Digit Code to <strong
                                                    class="text-black">Joywilson@gmail.com </strong> please check your inbox
                                                and enter the code below.</p>
                                        </div>
                                    </div>
                                    <!-- otp-box -->
                                    <div class="col-12">
                                        <div class="otp-box form-group">
                                            <input type="text" class="form-control visited" value="5">
                                            <input type="text" class="form-control visited" value="5">
                                            <input type="text" class="form-control">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <!-- Resend Code -->
                                    <div class="col-12">
                                        <div class="text-center mt-3">
                                            <button type="" class="btn btn-inline text-mcolor fw-semibold">Resend Code</button>
                                        </div>
                                    </div>
                                    <!-- Continue -->
                                    <div class="col-12">
                                        <div class="">
                                            <button type="" class="btn gradient-btn w-100">Continue</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- auth-form END -->
                        </div>
                    </div>
                    <!-- OTP form END -->
                </div>
            </div>
        </div>
    </div>
</body>
<!-- script -->
<script src="../../../assets/js/bootstrap.bundle.min.js"></script>
<script src="../../../assets/js/jquery.min.js"></script>
<script src="../../../assets/js/script.js"></script>

</html>